// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.duckie-center {
  margin: 0 auto;
  width: 72px;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

.form-www-field {
 margin-bottom: 5px; 
}

.bubble 
{
  position: relative;
  width: 150px;
  height: 35px;
  padding: 5px;
  background: #67C067;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  border: #222 solid 1px;
}


.bubble:after 
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 12px 10px 0;
  border-color: #67C067 transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -12px;
  left: 33px;
}

.bubble:before 
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 12px 10px 0;
  border-color: #222 transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -13px;
  left: 33px;
}

.bubble { /* our styles */
  right: 40px;
  bottom: 20px;
  text-align: center;
}